* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

:root{
    --main-color: #7f0fff;
    --main-background: rgb(32, 27, 27);
}

body {
    margin: 0px;
    min-height: 100%;
}
.body{
    min-height: 100vh;
}
footer{
    margin-top: 5rem;
    min-height: 7rem;
    background-color: var(--main-background);
    text-align: center;

    a, button, li{
        color: white;
        margin: 0.3rem 0.3rem;
        transition: ease-in-out 0.5s;
        &:hover{
            color: var(--main-color);
        }
   }
   li{
       display: inline-block;
   }
}

a, li, input, button, p{
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    background: none;
    color: black;
}

button{
    cursor: pointer;
    border-radius: 5px;
}

.loading{
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

.icon{
    font-size: 1.3rem;
    margin: -0.2rem 0.1rem;
}