.authentication-container{
    margin-top: 4rem;

    form{
        margin: 0 auto;
        padding: 1rem;
        width: 300px;
        background-color: var(--main-background);
        transition: ease-in-out 0.5s;
        border-radius: 10px;
        box-shadow: 0 0px 10px 0px var(--main-color);
        &:hover{
            box-shadow: -15px 15px 20px -3px var(--main-color);
        }

        p, input, button, a, h2{
            color: white;
            margin: 0.5rem 0;
            border-radius: 5px;
            padding: 0.4rem;
        }
        button{
            padding: 0.5rem 1rem;  
            font-size: 1rem; 
            &:hover{
                background-color: var(--main-color);
                box-shadow: 0 6px 20px -3px var(--main-color);
            }
        }

        input{
            width: 270px;
            display: block;
            border: 3px solid white;
            transition: ease-in-out 0.5s;
            &:hover{
                border: 3px solid var(--main-color);
                border-right: 15px solid var(--main-color);
            }
        }

        .correct{
            border: 3px solid var(--main-color);
        }

        .see:hover{
            color: var(--main-color);
            cursor: pointer;
        }
        
        .link-to{
            text-align: center;
            margin: 1rem 0;

            a:hover{
                color: var(--main-color);
                border-radius: 0;
                border-bottom: 3px solid var(--main-color);
            }
        }
    }


    .confirm-email-content{
        width: 270px;
        padding: 0.4rem;
        text-align: center;

        input{
            margin: auto;
            text-align: center;
            font-size: 1rem;
            width: 100px;
            display: block;
            border: 2px solid white;
            transition: ease-in-out 0.5s;
            &:hover{
                border: 2px solid var(--main-color)
            }
        }

        h2{
            font-size: 1rem;
        }
    }
}