.forgotten-password-container{
    margin: 10rem auto;
    text-align: center;
    padding: 0.5rem;

    form{
        background-color: var(--main-background);
        min-width: 250px;
        max-width: 400px;
        min-height: 200px ;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 10px;
        transition: ease-in-out 0.5s;
        box-shadow: 0 0 10px -3px var(--main-color);
        &:hover{
            box-shadow: 0 0 10px 1px var(--main-color);
        }

        a{
            color: white;
        }
        .icon{
            margin: -0.3rem 0 ;
        }

        input, h2, button{
            color: white;
        }

        input{
            text-align: center;
            font-size: 18px;
            padding: 0.5rem 0 ;
            min-width: 250px;
            border-bottom: 3px solid grey;
            &:hover{
                border-bottom: 3px solid var(--main-color);
            }
        }
        h2{
            margin-bottom: 2rem;
        }

        button{
            color: white;
            margin: 2rem 0;
            font-size: 18px;
            padding: 0.5rem 2rem;
            &:hover{
                transition: 0.5s;
                background: var(--main-color);
                color: white;
                box-shadow: 0px 5px 10px -3px var(--main-color);
            }
        }
    }
    .sent{
        background-color: var(--main-background);
        color: white;
        padding: 2rem;
        font-size: 1rem;
        transition: ease-in-out 0.5s;
        box-shadow: 0 0px 10px 0px var(--main-color);
        &:hover{
            box-shadow: -15px 15px 20px -3px var(--main-color);
        }
    }
    
}