.reset-password-container{
    text-align: center;
    margin-top: 5rem;

    form{
        background-color: var(--main-background);
        min-width: 250px;
        max-width: 300px;
        min-height: 200px ;
        margin: 0 auto;
        box-shadow: 0 5px 10px -3px grey;
        padding: 1rem;
        text-align: center;
        border-radius: 10px;
        &:hover{
            box-shadow: 0 5px 10px -3px var(--main-color);
        }

        input{
            color: white;
            font-size: 18px;
            margin-bottom: 1rem;
            min-width: 260px;
            border: 3px solid white;
            padding: 0.3rem;
            border-radius: 5px;
            &:hover{
                border: 3px solid var(--main-color);
            }
        }
        .update-pass-btn{
            font-size: 1.3rem;
            padding: 0.5rem 2rem;
            color: white;
            &:hover{
                transition: 0.5s;
                background: var(--main-color);
                color: white;
                box-shadow: 0px 5px 10px -3px var(--main-color);
            }
        }
        .eyes{
            margin-bottom: 1rem ;
            font-size:2rem;
            &:hover{
                transition: 0.5s;
                color: var(--main-color);
            }
        }
    }
    
}