.asset-portfolio-container{
    position: relative;
    margin-top: -1rem;
    padding: 0.5rem 0.2rem;

    .profit{
        color: rgb(26, 192, 81);
    }
    .loss{
        color: rgb(255, 71, 71);
    }

    .asset{
        margin: 0.3rem 0.2rem;
        text-align: left;

        .icon-delete{
            margin: -0.1rem;
            margin-right: 0.3rem;
            font-size: 1rem;
            opacity: 0.2;
            transition: ease-in-out 0.5s; 
            &:hover{
                color: red;
                opacity: 1;
            }
        }
        li{
            display: inline-block;
            margin: 0 0.1rem;
        }
        li:nth-child(n+5){
            margin-left: 1.5rem;
            border-bottom: 2px solid black ;
        }
    }

    .total-and-info{
        margin-bottom: 1rem;
        text-align: left;
        z-index: 10;

        .icon:hover{
            color: var(--main-color)
        }
        li{
            display: inline-block;
            margin: 0.2rem 1.6rem;
        }
    }
}