.create-portfolio-container{
    margin: 0.5rem auto;
    text-align: center;

    button{
        font-size: 1rem;
    }
    form{
        margin: 0.5rem;

        button, input{
            font-size: 1.2rem;
            margin: 1rem;
            text-align: center;
        }
        input{
            border: 2px solid black;
            border-radius: 5px;
            padding: 0.2rem;
        }
        
        button{
            padding: 0.5rem 2rem;
            box-shadow: 0 5px 10px -3px grey;
            transition: ease-in-out 0.5s;
            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
}