.delete-btn{
    position: absolute;
    text-align: left;
    padding: 0.4rem 0;
    z-index: 3;

    .ensure{
        background: white;
        button{
            display: block;
            margin: 0.5rem 0.5rem;
            &:nth-child(1):hover{
                color: grey;
            }
            &:nth-child(2):hover{
                color: red;
            }
        }
    }
    .icon:hover{
        color: red;
    }
}